<!-- About us -->
<section>
    <div id="About" class="about-us" style="background-color: #afe265">
      <div class="about-txt">
        <div class="details">
          <h1>About Us</h1>
          <p>
            We are the organisation who are enthusiastic to plant trees on
            your behalf. We understand due to lack of resources & lack of
            knowledge most people can't grow tress on their own. So we'll just
            not only plant tress but we will also take care it, which can be
            possible with the minimal amount donated by you.
          </p>
        </div>
      </div>
      <div class="tree-img">
        <img src="./images/about-us.png" alt="about-us-image" />
      </div>
    </div>
  </section>
