<!-- Footer -->
<footer>
    <div class="footer">
      <div class="footer-logo">
        <a href="#"><img src="./images/Bottom Logo.svg" alt="bottom logo" /></a>
      </div>
      <div class="gg-address">
        <div class="gg-text">
          THE GARDENIG GEEKS The Organization official Address @ Indore
        </div>
      </div>
      <div class="follow-us">
        <h1>Follow Us</h1>
        <div class="social-logo">
          <div class="logo-details">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-2x"></i></a>
            <p>Facebook</p>
          </div>
          <div class="logo-details">
            <a href="https://www.instagram.com/accounts/login/"><i class="fa-brands fa-instagram-square fa-2x"></i></a>
            <p>Instagram</p>
          </div>
          <div class="logo-details">
            <a href="https://twitter.com/?logout=1652368717561"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <p>Twitter</p>
          </div>
          <div class="logo-details">
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2x"></i></a>
            <p>YouTube</p>
          </div>
          <div class="logo-details">
            <a href="https://www.linkedin.com/login"><i class="fa-brands fa-linkedin fa-2x"></i></a>     
            <p>LinkedIn</p>
          </div>
          <div class="logo-details">
            <a href="https://telegram.org/"><i class="fa-brands fa-telegram fa-2x"></i></a>
            <p>Telegram</p>
          </div>
        </div>
        
      </div>
      
    </div>
    <div  class="hr-line">
    </div>
   

    <div class="copyright">
      <p>Copyright © 2022 thegardeninggeeks.com</p>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
    </div>
  
  </footer>

  <script
    src="https://kit.fontawesome.com/51fd045e20.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <!-- <script src=""></script> -->

</body>
</html>