<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--- Don't forget to add this meta tag otherwise your design won't responsive ---->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="shortcut icon" href="/images/Vector.svg" type="svg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="logo-img">
        <a href="/"><img src="/images/Logo.svg" alt="logo-img" /></a>
      </div>
      <div class="gallery">
        <div class="image">
          <span><img src="/images//Gallery/t2-700x660.png" alt="pepal-tree" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/IMG_20220127_153525.jpg" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Moises-hands-on-seedllng.png" alt="seedling" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Neem.jpg" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/_107748780_gettyimages-491672296.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Screenshot (22) 1.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/aarey4-1200x800.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Screenshot (18) 1.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Screenshot (24) 1.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Screenshot (20) 1.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Screenshot from 2022-05-08 09-59-04.png" alt="" /></span>
        </div>
        <div class="image">
          <span><img src="/images/Gallery/Jamun Tree.jpeg" alt="" /></span>
        </div>
      </div>
    </div>
    <div class="preview-box">
      <div class="details">
        <span class="title">
          <p class="current-img"></p>

          <p class="total-img"></p
        ></span>
        <span class="icon fas fa-times"></span>
      </div>
      <div class="image-box">
        <div class="slide prev"><i class="fas fa-angle-left"></i></div>
        <div class="slide next"><i class="fas fa-angle-right"></i></div>
        <img src="" alt="" />
      </div>
    </div>
    <div class="shadow"></div>
    <script src="/js/gallery.js"></script>
  </body>
</html>
