<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Of Plants</title>
    <link rel="stylesheet" href="/css/list-of-trees.css" />
    <link rel="shortcut icon" href="/images/Vector.svg" type="svg">
  </head>
  <body>
    <header class="header"></header>

    <a href="/checkout">
      <div class="list-of-trees-left" name="mangoTree" value="150">
        <div class="tree-img">
          <img src="/images/Mango trree.png" alt="" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Mango Tree</span> <span class="tree-price">₹150</span></h1>
          <div class="about-tree">
            <p>
              Mango, often referred as king of fruits is the most awaited seasonal
              fruits in India. Mango tree is indigenous to India. It is an
              evergreen tree; however, Mango trees do shed their old leaves
              throughout the year. Wild Mango trees can grow enormous with
              beautiful canopy; while the cultivated grafted trees tend to grow
              much shorter. There are dozens of well known Mango varieties in
              India. Alphonso Mango is the most loved and favored variety in the
              Indian market.
            </p>
          </div>
        </div>
        <div class="message">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          Give yourself a lovely treat by planting this mango tree in the name of
          your beautiful childhood memories.
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-right" name="neemTree" value="100">
        <div class="tree-img-right">
          <img src="/images/neem-tree.png" alt="neem-img" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Neem Tree</span> <span class="tree-price">₹100</span></h1>
          <!-- <h1>Neem Tree ₹100</h1> -->
          <div class="about-tree">
            <p>
              Neem Tree -This is a tree that has found its way into the daily
              lives of Indians. It is extremely famous for its medicinal values.
              Every single part of that tree is utilized for some of the other
              produce. The leaves and bark are all used to cure various diseases.
              Back when there were no medicines, this tee was instrumental in
              curing many diseases.
            </p>
          </div>
        </div>
        <div class="message-right">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          Dedicate this oxygen rich Neem Tree to the loved ones who are lost
          battleing diseses.
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-left">
        <div class="tree-img">
          <img src="/images/Peepal Tree.png" alt="" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Pepal Tree</span> <span class="tree-price">₹120</span></h1>
          <div class="about-tree">
            <p>
              This is an evergreen tree and is also worshipped in many parts of
              the country. It has heart-shaped leaves that make it so distinctly
              different. This tree has lots of medicinal values which makes it
              widely popular in the country. The leaves of the tree are used to
              deal with asthma, stomach pain, and heart issues. Eating ripe fruits
              of the tree is helpful in improving a poor appetite. The peepal tree
              bark is used to reduce itching as well.
            </p>
          </div>
        </div>
        <div class="message">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          Your Parents are as evergreen as this tree so, dedicate this Peepal tree
          to your parents.
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

   <a href="/checkout">
    <div class="list-of-trees-right">
      <div class="tree-img-right">
        <img src="/images/Indian Mahogany.png" alt="neem-img" />
      </div>
      <div class="about-tree-details">
        <h1><span class="tree-name">Indian Mahogany </span> <span class="tree-price">₹200</span></h1>
        <div class="about-tree">
          <p>
            Indian Mahogany grow up to the height of 30 -40 feet. It is fast
            upright growing tree with abroad rounded symmetrical crown. It is 20
            -30 feet in spread. The fruit is a large greenish brown capsule,
            splitting into 5 parts releasing flat, long winged, light brown
            seeds. Its wood is red brown in color. Both the male and the female
            flowers are produced on the same plant. The bark is smooth dark
            brown in color. The leaves are pinnate which are 12 -25 cm long,
            with four to eight leaflets.
          </p>
        </div>
      </div>
      <div class="message-right">
        <img
          class="quote-left"
          src="/images/Frame-left.svg"
          alt="left-quotation"
        />
        This tall and strong Mahogany tree is just like your friends who are
        alway standing beside you, so, plant it for them.
        <img
          class="quote-right"
          src="/images/Frame-right.png"
          alt="right-quotation"
        />
      </div>
    </div>
   </a>

    <a href="/checkout">
      <div class="list-of-trees-left">
        <div class="tree-img">
          <img src="/images/jamun tree.png" alt="" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Jamun Tree </span> <span class="tree-price">₹100</span></h1>
          <div class="about-tree">
            <p>
              The Jamun tree has a very tall appearance, it grows to about 30-35
              feet. This tree happens to grow at a very fast rate and is also
              among the easiest to grow. The fruit of this tree is widely loved
              and consumed. It is known to have numerous health benefits and is
              used to treat many health disorders like diabetes, indigestion,
              blood pressure, etc. These trees can live up to 100 years or more.
            </p>
          </div>
        </div>
        <div class="message">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          May your grandparents live as old as this Jamun tree, dedicate this tree
          to your grandparents.
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-right">
        <div class="tree-img-right">
          <img src="/images/gulmohar tree.png" alt="neem-img" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Gulmohar Tree</span> <span class="tree-price">₹250</span></h1>
          <div class="about-tree">
            <p>
              This tree is a flowering tree with bright orange flowers and a wide
              canopy. It is mostly ornamental and the wood is used for making
              handles for tools and combs since it is very durable. It also offers
              medicinal properties like anti-inflammatory, anti-fungal,
              anti-bacterial, wound-healing, cardio-protective, anti-microbial,
              etc.
            </p>
          </div>
        </div>
        <div class="message-right">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          The flame of eternal love is as bright as the flowers of Gulmohar tree,
          plant one for your eternal love
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

   <a href="/checkout">
    <div class="list-of-trees-left">
      <div class="tree-img">
        <img src="/images/wild tulip.png" alt="" />
      </div>
      <div class="about-tree-details">
        <h1><span class="tree-name">Wild Indian Tulip</span> <span class="tree-price">₹80</span></h1>
        <div class="about-tree">
          <p>
            Each flower of wild Indian tulip blooms on a hollow stem of 20-40cm.
            It is the wild variety that grows from Kashmir to Uttar Pradesh in
            yellow, and red colors. The tulip bulb is a very attractive and
            colorful spring flower. There are about 75 species due to this
            classification is quite complex. It blooms during the spring season
            and is dormant in summer. These can be grown in medium-sized pots
            and bulbs should be planted 6 to 8 feet deep in the soil.
          </p>
        </div>
      </div>
      <div class="message">
        <img
          class="quote-left"
          src="/images/Frame-left.svg"
          alt="left-quotation"
        />
        <p>
          Just like the wide variety of tulips, dedicate this Tulip flower to
          your loved ones.
        </p>
        <img
          class="quote-right"
          src="/images/Frame-right.png"
          alt="right-quotation"
        />
      </div>
    </div>
   </a>

    <a href="/checkout">
      <div class="list-of-trees-right">
        <div class="tree-img-right">
          <img src="/images/Ixora Flower.png" alt="neem-img" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Ixora Flower</span> <span class="tree-price">₹50</span></h1>
          <div class="about-tree">
            <p>
              Also known as West Indian Jasmine it is an evergreen flowering shrub
              indigenous to the sub-tropical region of southeast Asia. Ixora plant
              height can range from 4-6 feet. It has compact clusters of tubular
              starry flowers that appear in a wide range of colors ranging from
              red, peach, orange, yellow, pink, and white.
            </p>
          </div>
        </div>
        <div class="message-right">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          <p>
            You must have seen it but didn’t know the name, plant this tree to
            remember it forever
          </p>
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-left">
        <div class="tree-img">
          <img src="/images/Rose flower.jpg" alt="" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Indian Rose</span> <span class="tree-price">₹200</span></h1>
          <div class="about-tree">
            <p>
              The Indian rose or desi gulab, as it is commonly known, is the
              poster girl for sweet-smelling natural products. It is about 2-3
              inches wide, unlike the sturdier-looking English rose varieties, and
              has a delicate and sweet smell. "Desi gulab is the original rose,
              which is why its beautiful aroma has a soothing effect on the body
              and the mind.
            </p>
          </div>
        </div>
        <div class="message">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          <p>
            The significance of rose is love and life, dedicate this Indian rose
            plant to the love of your life
          </p>
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-right">
        <div class="tree-img-right">
          <img src="/images/jasmine flower.png" alt="neem-img" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Jasmine Flower</span> <span class="tree-price">₹200</span></h1>
          <div class="about-tree">
            <p>
              The common Jasmine is a vining shrub that has a very fragrant smell
              that is appealing. It produces clusters of three to five white
              flowers from late summer to early fall. The plant can grow to be 15
              feet tall, and it will do best in full-sun conditions. This
              fast-growing vine is easy to control.
            </p>
          </div>
        </div>
        <div class="message-right">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          <p>
            Fragrance of the ones we lost remains forever in life, plant this
            Jasmine Flower for ones you have lost in life
          </p>
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <a href="/checkout">
      <div class="list-of-trees-left">
        <div class="tree-img">
          <img src="/images/Marigold flower.jpg" alt="" />
        </div>
        <div class="about-tree-details">
          <h1><span class="tree-name">Marigold Flower</span> <span class="tree-price">₹80</span></h1>
          <div class="about-tree">
            <p>
              Marigold is one of the most important flowering annuals cultivated
              in India. It has gained popularity on account of its easy culture
              and wide adaptability, wide attractive colors, shape, size and good
              keeping quality.
            </p>
          </div>
        </div>
        <div class="message">
          <img
            class="quote-left"
            src="/images/Frame-left.svg"
            alt="left-quotation"
          />
          <p>
            Marigold flowers are used for every ocations, so, plant this flower
            for your celibrations in life
          </p>
          <img
            class="quote-right"
            src="/images/Frame-right.png"
            alt="right-quotation"
          />
        </div>
      </div>
    </a>

    <footer>
        <div class="copyright">
            <p>Copyright © 2022 thegardeninggeeks.com</p>
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
          </div>
    </footer>
  </body>
</html>
