<!-- Services-->
<%- include("header") %> 

<%- include("about-us") %> 

<section id="Services">
    <div class="three_box">
      <div class="container service">
        <div class="container service-heading">
          <h1>Services</h1>
          <i class="bush-flower-pot">
            <img src="./images/Family Values Bush and Flowers.png" alt="family values bush and flowers" />
          </i>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="/list-of-trees" style="text-decoration: none; color: black;">
              <div class="service-card">
                <h3>Select a plant</h3>
                <p>Select your desired plants here</p>
                <div id="slider">
                  <figure>
                    <i>
                      <img src="/images/Mango trree.png" alt="pic #1">
                    </i>
                    <i>
                      <img src="/images/neem-tree.png" alt="pic #2">
                    </i>
                    <i>
                      <img src="/images/Rose flower.jpg" alt="pic #3">
                    </i>
                    <i>
                      <img src="/images/Marigold flower.jpg" alt="pic #4">
                    </i>
                    <i>
                      <img src="/images/wild tulip.png" alt="pic #5">
                    </i>
                  </figure>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="/volunteer-registration" style="text-decoration: none; color: black;">
              <div class="service-card">
                <h3>Join as Volunteer</h3>
                <p>You can join us as Volunteer</p>
                <i>
                  <img src="./images/volunteer.png"  alt="volunteer" />
                </i>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="/gallery" style="text-decoration: none; color: black;">
              <div class="service-card">
                <h3>Our Work</h3>
                <p>Click here to see Gallery</p>
                <div id="gallery">
                  <figure>
                    <i>
                      <img src="/images/1 51.png" alt="pic #1">
                    </i>
                    <i>
                      <img src="/images/2 51.png" alt="pic #2">
                    </i>
                    <i>
                      <img src="/images/3 1.png" alt="pic #3">
                    </i>
                    <i>
                      <img src="/images/Moises-hands-on-seedllng.png" alt="pic #3" width="261px" height="333px">
                    </i>
                    <i>
                      <img src="/images/Neem.jpg" alt="pic #3" width="261px" height="333px">
                    </i>
                  </figure>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

   <%- include("contact") %>  
  <%- include("footer") %> 